In [17]:
import os
import yaml

import pandas as pd

In [18]:
root_dir = '../../data'
with open('catalogue.yaml') as f:
    files = yaml.safe_load(f)

In [19]:
from metadata import Metadata

catalogue = [
  Metadata().load(
      f['file'],
      root_dir=root_dir,
      id=f['view'],
      group=f['dataset'],
      values=f['values'] if 'values' in f else None,
      variables=f['variables'] if 'variables' in f else None,
  ) for f in files
]

In [20]:

os.makedirs('../../src/_data/metadata/', exist_ok=True)

output = pd.DataFrame([
        entry.to_dict() for entry in catalogue if entry
]).merge(
    pd.DataFrame(files), left_on=['group', 'id'], right_on=['dataset', 'view'],
    how='right'
).set_index(
    ['dataset', 'view']
).drop(
    columns=['group', 'id']
).sort_values(
    by=['dataset', 'view']
).reset_index(
)

output.to_json(
  '../../src/_data/metadata/catalogue.json',
  orient='records',
  indent=2,
)

In [21]:
output

,dataset,view,facts,dimensions,file,name,pipeline,type,source,description,values,variables
0,HB,claimants,"[{'name': 'HB_claimants', 'type': 'float64', '...","[{'name': 'Unnamed: 0', 'values': [0, 1, 2, 3,...",HB/claimants.csv,Housing benefit claimants,pipelines/statxplore/extract.py,.csv,NaN,NaN,NaN,NaN
1,ashe,weekly-earnings,"[{'name': 'median_weekly_wage', 'type': 'float...","[{'name': 'date', 'values': [2023]}, {'name': ...",ashe/weekly-earnings.csv,Annual Survey of Hours and Earnings Weekly Ear...,NaN,.csv,NaN,NaN,NaN,NaN
2,claimant-count,claimant-count,"[{'name': 'Claimant count', 'type': 'float64',...","[{'name': 'date', 'values': ['2023-10']}, {'na...",claimant-count/claimant-count.csv,Universal Credit claimant count,NaN,.csv,NaN,NaN,NaN,NaN
3,clif,clif_ABS,"[{'name': 'children_in_low_income', 'type': 'f...","[{'name': 'Year', 'values': ['2021/22']}, {'na...",clif/clif_ABS.csv,Children in low-income families ABS,pipelines/statxplore/extract.py,.csv,NaN,NaN,NaN,NaN
4,clif,clif_REL,"[{'name': 'children_in_low_income', 'type': 'f...","[{'name': 'Year', 'values': ['2021/22']}, {'na...",clif/clif_REL.csv,Children in low-income families REL,pipelines/statxplore/extract.py,.csv,NaN,NaN,NaN,NaN
5,council-tax-support,council-tax-support,"[{'name': 'pensioners', 'type': 'float64', 'de...","[{'name': 'date', 'values': ['2015-06-30', '20...",council-tax-support/council-tax-support.csv,Council Tax Support,NaN,.csv,NaN,NaN,NaN,NaN
6,dwelling-stock,dwelling-stock,"[{'name': 'Number of dwellings', 'type': 'int6...","[{'name': 'geography_code', 'values': ['E06000...",dwelling-stock/dwelling-stock.csv,Dwelling stock,NaN,.csv,NaN,NaN,NaN,NaN
7,fuel-poverty,fuel-poverty,"[{'name': 'Number of households', 'type': 'flo...","[{'name': 'date', 'values': [2021]}, {'name': ...",fuel-poverty/fuel-poverty.csv,Fuel Poverty,NaN,.csv,NaN,NaN,NaN,NaN
8,gender-pay-gap,gender-pay-gap,"[{'name': 'median_gender_pay_gap', 'type': 'fl...","[{'name': 'hours', 'values': ['All', 'Full-Tim...",gender-pay-gap/gender-pay-gap.csv,Gender pay gap,NaN,.csv,NaN,NaN,NaN,NaN
9,gva,gva,"[{'name': 'GVA', 'type': 'float64', 'descripti...","[{'name': 'date', 'values': ['1998-01-01', '19...",gva/gva.csv,Gross Value Added,NaN,.csv,NaN,Gross value added (GVA) is an economic product...,NaN,NaN
10,hbai,by_age_category,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_age_category.csv,HBAI by age category,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
11,hbai,by_age_of_youngest_child,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_age_of_youngest_child.csv,HBAI by age of youngest child in household,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
12,hbai,by_ethnic_group,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_ethnic_group.csv,HBAI by ethnic group,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
13,hbai,by_marital_status,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_marital_status.csv,HBAI by Marital status,NaN,.csv,NaN,NaN,NaN,NaN
14,hbai,by_number_of_children,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_number_of_children.csv,HBAI by number of children in household,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
15,hbai,by_savings_and_investments,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_savings_and_investments.csv,HBAI by savings and investments,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
16,hbai,by_tenure_type,"[{'name': 'population', 'type': 'float64', 'de...","[{'name': 'geography_code', 'values': ['E12000...",hbai/by_tenure_type.csv,HBAI by type of tenure,pipelines/statxplore/hbai.ipynb,.csv,NaN,NaN,NaN,NaN
17,house-prices,house-prices,"[{'name': 'Median house price', 'type': 'float...","[{'name': 'geography_code', 'values': ['E05009...",house-prices/house-prices.csv,House Prices,NaN,.csv,NaN,NaN,NaN,NaN
18,households,households,"[{'name': 'Number of households', 'type': 'int...","[{'name': 'date', 'values': [2023]}, {'name': ...",households/households.csv,Council Tax stock of properties households,NaN,.csv,NaN,NaN,NaN,NaN
19,housing-tenure,housing-tenure,"[{'name': 'All tenures', 'type': 'int64', 'des...","[{'name': 'DATE', 'values': [1981, 1991, 2001,...",housing-tenure/housing-tenure.csv,Housing Tenure,NaN,.csv,NaN,NaN,[VALUE],[TENURE]
20,imd,imd,"[{'name': 'Average score', 'type': 'float64', ...","[{'name': 'dataset', 'values': ['IMD', 'IDACI'...",imd/imd.csv,Indices of Multiple Deprivation,NaN,.csv,NaN,NaN,NaN,NaN
21,insolvencies,insolvencies,NaN,NaN,insolvencies/insolvencies.csv,Insolvencies,R/individual-insolvencies.R,.csv,NaN,NaN,NaN,NaN
22,jobs-below-living-wage,jobs-below-living-wage,"[{'name': 'number_of_jobs_000s', 'type': 'floa...","[{'name': 'date', 'values': [2022]}, {'name': ...",jobs-below-living-wage/jobs-below-living-wage.csv,Jobs below living wage,NaN,.csv,NaN,NaN,NaN,NaN
23,labour-market,labour-market,[{'name': '% who are economically inactive - a...,"[{'name': 'date', 'values': ['2004-12-01', '20...",labour-market/labour-market.csv,Labour market economic activity,NaN,.csv,NaN,NaN,NaN,NaN
24,local-housing-allowance,local-housing-allowance,NaN,NaN,local-housing-allowance/local-housing-allowanc...,Local Housing Allowance,NaN,.csv,NaN,NaN,NaN,NaN
25,mortgage-landlord-possession,mortgage-landlord-possession,NaN,NaN,mortgage-landlord-possession/mortgage-landlord...,Mortgage landlord posessions,R/mortgage-landlord-possession.R,.csv,NaN,NaN,NaN,NaN
26,personal-wellbeing,wellbeing-local-authority,NaN,NaN,personal-wellbeing/wellbeing-local-authority.csv,Personal wellbeing,NaN,.csv,NaN,NaN,NaN,NaN
27,population-estimates,population-estimates,"[{'name': 'Number of persons', 'type': 'int64'...","[{'name': 'date', 'values': [2021, 2020]}, {'n...",population-estimates/population-estimates.csv,Population estimates,NaN,.csv,NaN,NaN,NaN,NaN
28,population-estimates,population-estimates-ages,"[{'name': 'Number of persons', 'type': 'int64'...","[{'name': 'date', 'values': [2020, 2021]}, {'n...",population-estimates/population-estimates-ages...,Population estimates by age band,NaN,.csv,NaN,NaN,NaN,NaN
29,rental-prices,rental-prices,"[{'name': 'Count of rents', 'type': 'float64',...","[{'name': 'property_code', 'values': ['room', ...",rental-prices/rental-prices.csv,Rental Prices,NaN,.csv,NaN,NaN,NaN,NaN
30,school-pupils-characteristics,free_school_meals,"[{'name': 'percent_of_pupils', 'type': 'float6...","[{'name': 'geography_code', 'values': ['E12000...",school-pupils-characteristics/free_school_meal...,School pupil characteristics,NaN,.csv,NaN,NaN,NaN,NaN
31,smi,smi_in_payment_amount,"[{'name': 'smi_in_payment_amount', 'type': 'fl...","[{'name': 'Unnamed: 0', 'values': [0, 1, 2, 3,...",smi/smi_in_payment_amount.csv,Support for Mortgage Interest amount,pipelines/statxplore/extract.py,.csv,NaN,NaN,NaN,NaN
32,smi,smi_loans_in_payment_households,"[{'name': 'smi_loans_in_payment_households', '...","[{'name': 'Unnamed: 0', 'values': [0, 1, 2, 3,...",smi/smi_loans_in_payment_households.csv,Support for Mortgage Interest households,pipelines/statxplore/extract.py,.csv,NaN,NaN,NaN,NaN
33,statutory-homelessness,statutory-homelessness,[{'name': 'Total households assessed as owed a...,"[{'name': 'date', 'values': ['2023-03']}, {'na...",statutory-homelessness/statutory-homelessness.csv,Statutory homelessness,NaN,.csv,{'href': 'https://www.gov.uk/government/collec...,NaN,NaN,NaN