In [1]:
import pandas as pd
from metadata import Metadata

In [5]:
Metadata().load(
  dataset_path='../../data/housing-tenure/housing-tenure.csv',
  values=['VALUE'],
  variables=['TENURE']
)

Metadata->[Dimension->DATE, Dimension->GEOGRAPHY_CODE, Dimension->GEOGRAPHY_NAME]->[Fact->All tenures (int64)]

In [6]:

pd.read_csv('../../data/housing-tenure/housing-tenure.csv')

      DATE GEOGRAPHY_CODE GEOGRAPHY_NAME          TENURE  VALUE
0     1981      E06000001     Hartlepool     All tenures  32971
1     1981      E06000001     Hartlepool           Other   1567
2     1981      E06000001     Hartlepool  Owner occupied  16761
3     1981      E06000001     Hartlepool  Private rented    287
4     1981      E06000001     Hartlepool   Social rented  14356
...    ...            ...            ...             ...    ...
1673  2021      E08000037      Gateshead     All tenures  88999
1674  2021      E08000037      Gateshead           Other    472
1675  2021      E08000037      Gateshead  Owner occupied  51609
1676  2021      E08000037      Gateshead  Private rented  14584
1677  2021      E08000037      Gateshead   Social rented  22334

[1678 rows x 5 columns]

In [7]:
import yaml

root_dir = '../../data'
with open('catalogue.yaml') as f:
    files = yaml.safe_load(f)

In [11]:
files[0].get('dataset', None)

'hbai'