In [8]:
geography_code: str = 'E12000003'
geography_name: str = 'Yorkshire and the Humber'
geography_type: str = 'NA'
variable_code: str = 'pensioners'
variable_name: str = 'pensioners'

In [9]:
import pandas as pd

In [15]:
path = r'C:\Users\LukeStrange\Code\jrf-insight\data\council-tax-support\council-tax-support.csv'
data = pd.read_csv(path)
most_recent_date = max(data.date)
geog_types = data.geography_type.unique().tolist()
print(geog_types)

# removing London from the data
data = data[data.geography_type != 'L']
data = data[data.date == most_recent_date]

[nan, 'SD', 'L', 'MD', 'UA']

In [16]:
print(data)

             date geography_code.ba geography_code      geography_name
30     2022-12-31               NaN      E92000001             England  \
61     2022-12-31               NaN      E12000006     East of England
92     2022-12-31               NaN      E12000001       East Midlands
123    2022-12-31               NaN      E12000007              London
154    2022-12-31               NaN      E12000001  North East England
...           ...               ...            ...                 ...
21203  2022-12-31             E1838      E07000238            Wychavon
21234  2022-12-31             E0435      E07000007             Wycombe
21265  2022-12-31             E2344      E07000128                Wyre
21296  2022-12-31             E1839      E07000239         Wyre Forest
21327  2022-12-31             E2701      E06000014                York

      geography_type variable_code variable_name      value
30               NaN    pensioners    pensioners  1393323.0
61               NaN    pensioners    pensioners   135879.0
92               NaN    pensioners    pensioners   118468.0
123              NaN    pensioners    pensioners   193559.0
154              NaN    pensioners    pensioners   100986.0
...              ...           ...           ...        ...
21203             SD   working_age   working_age     3817.0
21234             SD   working_age   working_age        NaN
21265             SD   working_age   working_age     5105.0
21296             SD   working_age   working_age     4551.0
21327             UA   working_age   working_age     4456.0

[688 rows x 8 columns]