In [1]:
import os

from prepare import OUTPUT_DIR, get_place_metadata, combine_data, get_population_data, get_geography_codes, get_council_tax_data, get_children_low_income_data, make_table, save_file

In [2]:
geography_code: str = 'E47000006'

In [3]:
PLACE_DIR = f'{OUTPUT_DIR}/place_data/{geography_code}/'
os.makedirs(PLACE_DIR, exist_ok=True)

In [4]:
place_metadata = get_place_metadata(geography_code)

In [5]:
geography_codes = get_geography_codes(geography_code, place_metadata)

In [6]:
combine_data(
    get_population_data(geography_codes),
    get_council_tax_data(geography_codes),
    get_children_low_income_data(geography_codes),
).pipe(
    make_table
).pipe(
    save_file, PLACE_DIR
)

In [7]:
get_children_low_income_data(geography_codes)

,Year,Age of Child (years and bands),Gender of Child,Family Type,Work Status,variable_name,geography_code,value
296,2021/22,Total,Total,Total,Total,number_of_children,E06000005,6070.0
458,2021/22,Total,Total,Total,Total,number_of_children,E06000001,5870.0
620,2021/22,Total,Total,Total,Total,number_of_children,E06000002,13432.0
944,2021/22,Total,Total,Total,Total,number_of_children,E06000003,7933.0
1106,2021/22,Total,Total,Total,Total,number_of_children,E06000004,10925.0

In [8]:
get_population_data(geography_codes)

,date,geography_code,geography_name,geography_type,gender_code,gender_name,age_code,age_name,variable_code,variable_name,value
10,2021,E06000005,Darlington,lad22,0,Total,200,All Ages,n_persons,Number of persons,108222
12,2021,E06000001,Hartlepool,lad22,0,Total,200,All Ages,n_persons,Number of persons,92571
13,2021,E06000002,Middlesbrough,lad22,0,Total,200,All Ages,n_persons,Number of persons,143734
15,2021,E06000003,Redcar and Cleveland,lad22,0,Total,200,All Ages,n_persons,Number of persons,136616
16,2021,E06000004,Stockton-on-Tees,lad22,0,Total,200,All Ages,n_persons,Number of persons,197030
...,...,...,...,...,...,...,...,...,...,...,...
578,2020,E05001548,Stainsby Hill,wd22,0,Total,200,All Ages,n_persons,Number of persons,6222
579,2020,E05001549,Stockton Town Centre,wd22,0,Total,200,All Ages,n_persons,Number of persons,7605
580,2020,E05001550,Village,wd22,0,Total,200,All Ages,n_persons,Number of persons,6853
581,2020,E05001551,Western Parishes,wd22,0,Total,200,All Ages,n_persons,Number of persons,3522
582,2020,E05001552,Yarm,wd22,0,Total,200,All Ages,n_persons,Number of persons,11020